#kvadrat{
    width: 200px;
    height: 200px;
    margin-left: 30%;
    background-color: red;

}
#knopka{
    width: 100px;
    height: 2em;
    margin-top: 3em;
    margin-left: 30%;
}
h2{
    
    background-color: red;
}